<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Form twig bridge test suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
